.loginbox-title {
	margin-bottom: 10px;
}

.loginbox {
	max-height: 300px;
}

.table-filter {
	margin-bottom: 20px;
}

.table-pagination {
	margin-top: 20px;
}

.help-block {
	margin-bottom: 0;
}